@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Poppins,sans-serif;
    color: #2d2e32f7;;
    /* border: 1px solid black; */
}

#header .container{
   
    display: flex;
    justify-content: space-between;
    position:fixed;
    width: 100%;
    top: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.055) 0px 4px 6px -1px, rgba(0, 0, 0, 0.005) 0px 2px 4px -1px;
}

#header .container .logo{
    font-size: 20px;
    font-weight: bolder;
}

#header .container .logo , #header .container .navbar .nav-menu{
    padding: 23px 60px;
}

#header .container .navbar .nav-menu{
    display: flex;
    list-style: none;
    font-size: 17px;
}

/* --------mobile menu------------ */

#header .container .navbar .mobile-menu{
    display: none;
}


#header .container .navbar .mobile-menu .hamburger-menu{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    width: 100%;
    list-style-type: none;
    padding: 23px;
}

#header .container .navbar .mobile-menu .hamburger-menu{
    font-size: 20px;
    margin-right: 20px;
}


#header .container .navbar .mobile-menu .menu-list{
        display: flex;
        flex-direction: column;
        border:1px solid black;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        font-size: 25px;
        list-style: none;
        width: 100%;
        height: 100vh;
        font-weight: 500;
}

#header .container .navbar .mobile-menu .menu-list li{
    padding: 17px;
}

#header .container .navbar .mobile-menu .menu-list li a{
    text-decoration: none;
}


@media (max-width: 700px){
    #header .container .navbar .nav-menu{
        display: none;
    }
    #header .container .navbar .mobile-menu{
        display: block;
    }
   

}

#header .container .navbar .nav-menu>li{
    margin-left: 21px;
    font-weight: 600;
}

#header .container .navbar .nav-menu>li>a{
    text-decoration: none;
}

#header .container .navbar .nav-menu>li>a{
    text-decoration: none;
}

#header .container .navbar .nav-menu>li>a:hover{
    color:#1877f2;
}



/* ------hero section------- */


#hero{
    background-color: #f9f9f9;
}

#hero .container .hero-content{
    width: 66%;
    padding-top: 130px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#hero .hero-left, #hero .hero-right{
    width: 50%;
    padding-top: 30px;
}

#hero .hero-left h1{
    font-size: 55px;
    align-items: center;
    line-height: 65px;
    
}

#hero .hero-left h1 img{
    margin-left: 10px;
    margin-bottom: -5px;
    width: 55px;
}


#hero .hero-left p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.1rem;
    line-height: 1.6;
} 

.fab{
    font-size: 30px;
    margin-right: 10px;
}

.fab:hover{
    color: #1877f2;
}



.hero-right .image-wrapper{
    background-image: url("./resources/hero.jpeg");
    width: 350px;
    height: 350px;
    
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    transition: all 1s ease-in-out;
    animation: morph 8s ease-in-out infinite;
    border: 3px solid black;
}

@keyframes morph {
0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}
50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
}
100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}
}




/* --------Tech-stack--------- */

#hero .container .tech-stack{
    width: 66%;
    margin:80px auto;
    display: flex;
    align-items: center;
    
    padding-bottom: 70px;
}

#hero .container .tech-stack h3{
    font-size: 17px;
    font-weight: 300;
}

#hero .container .tech-stack ul{
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

#hero .container .tech-stack ul li{
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    width: 70px;
    height: 70px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .container .tech-stack ul li img{
    width: 30px;
}




/* --------about--------- */
/* 
*{
    border: 1px solid black;
} */

#about .container{
    width: 66%;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}



#about .container .about-left{
    width: 45%;
}

#about .container .about-right{
    width: 55%;
}

#about .container .about-left .about-banner{
    background-image: url('./resources/background.jpg');
    width: 85%;
    float: left;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 100%; */
    margin: auto;
    border-radius: 20px;

}

#about .container .about-right{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#about .container .about-right p{
    font-size: 16px;
}


/* ----------portfolio----- */

#portfolio{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 150px;
    padding-bottom: 70px;
    background-color: #f9f9f9;
}

#portfolio .container,#portfolio .portfolio-top{
    width: 66%;
    margin:auto;
}

#portfolio .portfolio-top h3{
    color:#1877f2;
    margin-bottom: 10px;
}
#portfolio .portfolio-top h1{
    margin-bottom: 10px;
}


#portfolio .container .card{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    height: 320px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding: 10px;
}

#portfolio .container .card-img{
    background-size: cover;
    width: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 1.2rem;
    overflow: hidden;
}

#portfolio .container .card-img img{
    width:100%;
    height: 100%;
}

#portfolio .container .card-detail{
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#portfolio .container .card-detail .tech-used{
    display: flex;
    margin:auto;
    gap: 10px;
}

#portfolio .container .card-detail .tech-used h4{
    font-size: 17px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    color: #000!important;
    font-weight: 600!important;
    padding:10px;
}

#portfolio .container .card-detail p{
    font-size:17px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#portfolio .container .card-detail .title{
    color: #2d2e32;
    font-size: 1.17em;

}

#portfolio .container .card-detail .pro-link{
    display: flex;
    margin:auto;
    align-items: center;
    gap:30px;
    margin-top: 10px;
    
}

#portfolio .container .card-detail .pro-link a{
    color: #2d2e32;
    font-size: 17px;
    font-weight: 500;
    gap: 5px;
    text-decoration: none;
}

#portfolio .container .card-detail .pro-link a i{
    font-size: 22px;
    margin-left: 4px;
}




/* media query */

@media (max-width: 1250px) {
    #hero .container .hero-content{
        width: 80%;
    }
    #hero .container .tech-stack{
        width: 80%;
    }
    #about .container{
        width: 80%;
    }

    #portfolio .container,#portfolio .portfolio-top{
        width: 80%;
    }
}

@media (max-width: 1030px) {

    #portfolio .container,#portfolio .portfolio-top{
        width: 600px;
        text-align: center;
    }

    #portfolio .container .card{
        height: auto;
    }
    #portfolio .container .card-detail{
        width: 80%;
    }#portfolio .container .card-img{
        width: 100%;
    }


    #hero .container .tech-stack{
        padding-bottom: 40px;
    }
    #hero .container .hero-content{
        flex-direction: column-reverse;
    }
    #hero .hero-left, #hero .hero-right{
        width: 80%;
        text-align: center;
    }

    #hero .container .tech-stack{
        width: 80%;
    }

    #hero .container .tech-stack{
        flex-direction: column;
        margin-top: 70px;
    }

    #about .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #portfolio .container .card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about .container .about-left,
    #about .container .about-right{
        width: 80%;
    }

    #about .container .about-left .about-banner{

        width: 400px;
        height: 350px;
        margin-bottom: 30px;

    }

    #about .container .about-left{
        display: flex;
        justify-content: center;
    }

    #about .container .about-right{
        text-align: center;
    }

    #about .container .about-right h3,#about .container .about-right h2,
    #about .container .about-right p{
        padding: 10px;
    }
}


@media (max-width: 700px){
    #about .container .about-left,
    #about .container .about-right{
        width: 100%;
    }
    .hero-right .image-wrapper{
        height: 280px;
        width: 280px;
    }
    #hero .container .hero-left h1{
        font-size:40px;
        line-height: 50px;
    }
    #hero .container .hero-left img{
        width: 40px;
    }
    #hero .container .social-links{
        margin-top: 40px;
    }

    #portfolio .container,#portfolio .portfolio-top{
        width: 500px;
        text-align: center;
    }

    #about .container{
        padding-bottom: 10px;
    }

}

@media (max-width: 500px){
    .hero-right .image-wrapper{
        height: 250px;
        width: 250px;
    }
    #about .container .about-left .about-banner{

        width: 300px;
        height: 200px;

    }
    #portfolio .container,#portfolio .portfolio-top{
        width: 320px;
        text-align: center;
    }

}






