.modal-content .settingBox h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 4px solid rgb(255, 99, 71);
}

.modal-content .settingBox .update {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content .settingBox .profile-upload img {
    width: 100px;
    border-radius: 100px;
}

.modal-content .settingBox .update span {
    color: rgba(0, 0, 0, 0.926);
}

.modal-content .settingBox .update input {
    width: 220px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.322);
}

.modal-content .settingBox .update input:focus {
    border: 1px solid tomato;
    border-bottom: 5px solid tomato;
}

.modal-content .settingBox .update select {
    width: 245px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.322);
}

.modal-content .settingBox .update button {
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    background-color: tomato;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
}