/* -------Chapter number------ */

.chapter_number {
    color: white;
    position: absolute;
    top: -6.1px;
    right: 7%;
    border-radius: 20px;
    box-shadow: -2px 6px 15px rgba(0, 0, 0, 0.425);
}

.chapter_number:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 53px solid transparent;
    border-right: 53px solid transparent;
    border-top: 10px solid tomato;
}

.chapter_number span {
    position: relative;
    display: block;
    text-align: center;
    background: tomato;
    font-size: 14px;
    line-height: 1;
    padding: 12px 8px 10px;
    border-top-right-radius: 8px;
    width: 90px;
}

.chapter_number span:before,
.chapter_number span:after {
    position: absolute;
    content: "";
}

.chapter_number span:after {
    height: 6px;
    z-index: -3;
    width: 7px;
    left: -4px;
    top: 0;
    border-radius: 25px 8px 8px 0px;
    background: #C02031;
}